pkgbase = gitkraken-cli
	pkgdesc = The intuitive, fast, and beautiful cross-platform Git client.
	pkgver = 3.1.9
	pkgrel = 2
	url = https://www.gitkraken.com/
	arch = x86_64
	license = custom
	optdepends = git-lfs: git-lfs support
	optdepends = org.freedesktop.secrets: Provides ways to store passwords and encryption keys
	provides = gitkraken
	source = gitkraken-cli-3.1.9.zip::https://github.com/gitkraken/gk-cli/releases/download/v3.1.9/gk_3.1.9_linux_amd64.zip
	sha256sums = 73077548d534b3239046a9ebc9cb2eef0d33f12bdba3e3ca1e6fb6b113995964

pkgname = gitkraken-cli
