pkgbase = gitkraken-cli
	pkgdesc = The intuitive, fast, and beautiful cross-platform Git client.
	pkgver = 3.1.48
	pkgrel = 1
	url = https://www.gitkraken.com/
	arch = x86_64
	license = custom
	optdepends = git-lfs: git-lfs support
	optdepends = org.freedesktop.secrets: Provides ways to store passwords and encryption keys
	provides = gitkraken
	source = gitkraken-cli-3.1.48.zip::https://github.com/gitkraken/gk-cli/releases/download/v3.1.48/gk_3.1.48_linux_amd64.zip
	sha256sums = 88e7456610d96e65c12c1a1fd67b9e93c09b5a775fdc73cd32afeb84e6663029

pkgname = gitkraken-cli
